@import url("/src/components/footer/footer.css");
@import url("/src/assets/theme.css");

body * {
  font-family: var(--font-family);
}

/* background 미디어쿼리 */
.background-gallery {
  height: 865px;
  background-image: url("/src/assets/background-img_web.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
.background-gallery::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

/* 768px 이상일 때 background 더 밝게 조정 0.75>0.6 */
@media (min-width: 768px) {
  .background-gallery::after {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

/* 데스크탑 홈버튼 / mobile에선 none 미디어쿼리 */
.home-button {
  position: absolute;
  top: 30px;
  left: 30px;
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.home-logo {
  width: 30px;
}

/* title 미디어 쿼리 weight만 black으로 변경 */
.gallery-title {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: var(--m-gallery-font-size);
  font-weight: var(--font-weight-black);
  color: #ffffff;
  margin-top: 30px;
}

/* gallery-masonry */
.gallery-masonry {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background: white;
  height: 780px;
  margin: 30px;
  padding: 15px;
  border-radius: 15px;
  overflow-y: auto; /*gallery-masonry 외부로 넘친 FIGURE 스크롤 해서 볼 수 있도록*/
  grid-auto-rows: masonry;

  /* 스크롤바 숨김 */
  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 768px) {
    border-radius: 5px;
  }
  /* 800px 이상 colums:4 */
  @media (min-width: 800px) {
    grid-template-columns: repeat(4, 1fr);
  }
  /* 1080px 이상 colums:5 */
  @media (min-width: 1080px) {
    grid-template-columns: repeat(5, 1fr);
  }
  /* 1440px 이상 colums:6 */
  @media (min-width: 1440px) {
    grid-template-columns: repeat(6, 1fr);
  }

  .gallery-figure {
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 10px;
    height: fit-content;
    margin: 0;
    padding: 0;

    .gallery-image {
      width: 100%;
      height: fit-content;
      object-fit: cover;
      border-radius: inherit;
    }

    /* 이미지 title */
    .gallery-figcaption {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      color: white;
      place-self: center;
      border-radius: 5px;
      margin: 5px;
    }
  }
}

/* 768px 이상일 때 footer 고정 해제 */
@media (min-width: 769px) {
  .footer-nav {
    display: none;
  }
  .footer-container {
    position: static;
    display: flex;
  }
}
