<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" />
    <title>button-component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1>버튼 컴포넌트</h1>
    <h2>모바일 버튼 컴포넌트</h2>
    <!-- 전체보기 버튼 컴포넌트 -->
    <button type="button" class="mobbutton-fullview">전체보기</button>
    <br />
    <br />
    <br />
    <!-- 레퍼런스 파일 버튼 컴포넌트 -->
    <button class="mobbutton-references">
      <img class="mobbutton-referencesimg" src="/src/assets/reference-100-mob.svg" alt="레퍼런스 파일" />
      <span class="mobbutton-referencesname">CSS</span>
    </button>
    <br />
    <br />
    <br />
    <!-- 레퍼런스 목록 버튼 컴포넌트 -->
    <div class="mobbutton-box">
      <div class="mobbutton-img">
        <img src="/src/assets/test.img.png" alt="Cypress 사이트" />
      </div>
      <div class="mobbutton-list">
        <p class="mobbutton-listtitle">[Cypress] 웹 테스트 자동화 사용법 한눈에 정리</p>
        <p class="mobbutton-listname">name</p>
      </div>
    </div>
    <br />
    <hr />
    <h2>웹 버튼 컴포넌트</h2>
    <!-- 전체보기 버튼 컴포넌트 -->
    <button type="button" class="webbutton-fullview">전체보기</button>
    <br />
    <br />
    <br />
    <!-- 레퍼런스 파일 버튼 컴포넌트 -->
    <button class="webbutton-references">
      <img class="webbutton-referencesimg" src="/src/assets/references-100-web.svg" alt="레퍼런스 파일" />
      <span class="webbutton-referencesname">CSS</span>
    </button>
    <br />
    <br />
    <br />
    <!-- 레퍼런스 목록 버튼 컴포넌트 -->
    <div class="webbutton-box">
      <div class="webbutton-img">
        <img src="/src/assets/test.img.png" alt="Cypress 사이트" />
      </div>
      <div class="webbutton-list">
        <p class="webbutton-listtitle">[Cypress] 웹 테스트 자동화 사용법 한눈에 정리</p>
        <p class="webbutton-listname">name</p>
      </div>
    </div>
  </body>
</html>
