<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>portfolio component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <a class="portfolio-component" href="/">
      <img class="portfolio-img" src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg" alt="포트폴리오 thumnail 사진" />
      <h3 class="portfolio-title">IMWA Project</h3>
    </a>
  </body>
</html>
