<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>references component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- 모바일 home 화면 references -->
    <a class="references-component" href="/">
      <img class="references-img" src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg" alt="참고자료 이미지" />
      <div class="references-contents">
        <h2 class="references-title">참고자료 제목</h2>
        <div class="references-profile">
          <img class="references-profile-img" src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg" alt="프로필 사진" />
          <span class="references-name">name</span>
        </div>
      </div>
    </a>
  </body>
</html>
