<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gallery-component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <a class="gallery-component" href="/">
      <img class="gallery-img" src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg" alt="gallery thumbnail 이미지" />
      <div class="gallery-profile">
        <img class="gallery-profile-img" src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg" alt="프로필 사진" />
        <h2 class="gallery-name">name</h2>
      </div>
    </a>
  </body>
</html>
