<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" />
    <script type="module" src="/src/main.js"></script>
    <title>subtitle-components</title>
  </head>
  <body>
    <h2 class="subtitle subtitle-aboutme">ABOUT ME</h2>
    <h2 class="subtitle subtitle-references">REFERENCES</h2>
    <h2 class="subtitle subtitle-gallery">GALLERY</h2>
    <h2 class="subtitle subtitle-aboutme">ABOUT ME</h2>
    <h2 class="subtitle subtitle-skills">SKILLS</h2>
    <h2 class="subtitle subtitle-portfolio">PORTFOLIO</h2>
    <h2 class="subtitle subtitle-contact">CONTACT</h2>
  </body>
</html>
