@import url(./components/aboutme/aboutme-component.css);
@import url(./components/button/button-component.css);
@import url(./components/footer/footer.css);
@import url(./components/gallery/gallery-component.css);
@import url(./components/home/home.css);
@import url(./components/portfolio/portfolio-component.css);
@import url(./components/references/references-component.css);
@import url(./components/subtitle/subtitle-component.css);
@import url(./pages/home/home.css);
@import url(./pages/References/references.css);
@import url(./pages/gallery/gallery.css);
@import url(../index.css);
body {
  font-family: var(--font-family);
  margin: 20px;
  padding: 20px;
}

.components-title {
  margin-top: 30px;
}
.component-list {
  list-style-type: none;
  margin-bottom: 30px;
}

.page-list {
  list-style-type: none;
}
