<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Detail</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="body-wrapper show-page-1">
    <div class="background-container">
      <img
        src="/src/assets/background.svg"
        alt="홈 배경 이미지"
        class="background-image"
      />
    </div>

    <header>
      <nav>
        <ul>
          <div class="nav-home-button">
            <a href="/index.html">
              <img src="/src/assets/aboutme/homebutton.svg" alt="홈으로 이동" />
            </a>
          </div>

          <li><a href="#page-1">INTRO</a></li>
          <li><a href="#page-2">ABOUT ME</a></li>
          <li><a href="#page-3">STORY</a></li>
          <li><a href="#page-4">PORTFOLIO</a></li>
          <li><a href="#page-5">FINAL</a></li>
          <li><a href="#page-6">CONTACT</a></li>
        </ul>
      </nav>
    </header>

    <!-- 첫번째 페이지 -->
    <div class="page page-1" id="page-1">
      <h2 class="intro-title">INTRO</h2>
      <img src="/src/assets/aboutme/jungwoo1.svg" alt="tomas" />
      <div class="content-wrapper">
        <h1 class="title">박정우</h1>
        <p class="content-1">
          프론트엔드 개발자로서, 제 삶의 모든 에너지를 쏟아 부어 <br />“최고의
          사이트”라는 꿈을 향해 달려가겠습니다.
        </p>
        <p class="content-2">
          이 길이 끝날 때까지, 제 모든 열정과 노력을 다하며, <br />끝없이
          성장하고 도전하는 개발자가 되겠습니다.
        </p>
        <p class="content-3">
          제가 꿈꾸는 세상이 현실이 될 그 순간까지, <br />멈추지 않고 앞으로
          나아가는 개발자가 되겠습니다.
        </p>
      </div>
    </div>

    <!-- 두번째 페이지 -->
    <div class="page page-2" id="page-2">
      <h2 class="about-title">ABOUT ME</h2>
      <div class="about-container">
        <!-- 좌측 프로필 -->
        <div class="about-left">
          <img
            src="/src/assets/aboutme/jungwoo2.svg"
            alt="프로필 이미지"
            class="profile-img"
          />
          <p class="profile-desc">
            혼자하는 일은 없기 때문에<br />
            상호간에 소통을 하며,<br />
            함께 일하는 경험자의 말에<br />
            귀 기울이도록 하겠습니다.
          </p>
          <hr class="profile-divider" />
          <h3 class="profile-name">박정우</h3>
          <p class="profile-info">
            2000. 06. 01<br />
            010-xxxx-xxxx<br />
            pjw1346xxx@naver.com<br />
            ENTJ
          </p>
        </div>
        <hr class="profile-divider2" />
        <!-- 우측 프로필 -->
        <div class="about-right">
          <div class="about-section">
            <div class="about-grid">
              <div>
                <h4>Education</h4>
                <p>XX대학교 컴퓨터SW학과 졸업<br />2019.03 ~ 2025.02</p>
                <p>XX고등학교 졸업<br />2016.03 ~ 2019.02</p>
              </div>
              <div>
                <h4>Awards</h4>
                <p>
                  AI/SW 공모전 우수상 (Traffickey Unity 3D 방탈출)<br />2023.09.01
                  ~ 2023.01.15
                </p>
                <p>
                  AI/SW 공모전 우수상 (AI 변호사 상담 웹사이트)<br />2024.09.01
                  ~ 2025.01.15
                </p>
              </div>
            </div>
          </div>

          <div class="about-section">
            <div class="about-grid">
              <div>
                <h4>Career</h4>
                <p>응애 개발자</p>
              </div>
              <div>
                <h4>Skills</h4>
                <img src="/src/assets/aboutme/jungwooskill.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="about-section">
            <div class="about-grid">
              <div>
                <h4>Certificate</h4>
                <p>
                  GTQ 그래픽 기술자격 3급 <br />ITQ OA Master <br />문서실무 3급
                  <br />
                  정보처리기사 <br />운전면허 2종 보통
                </p>
              </div>
              <div>
                <h4>Ability</h4>
                <p>의사소통, 기억력, 집중력, 업무속도</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 세 번째 페이지 (STORY) -->
    <div class="page page-3" id="page-3">
      <h2 class="section-title">STORY</h2>
      <div class="story-container">
        <div class="story-item">
          <h3>웹개발을 접하게 된 계기</h3>
          <img
            class="story1"
            src="/src/assets/aboutme/jungwoo3.png"
            alt="웹개발 계기 이미지"
          />
          <p>
            한 달 동안 열심히 만든 게임. 캐릭터는 뛰고, 배경은 움직이고,
            사운드도 넣었다.
            <br />친구가 말했다. “어디서 할 수 있는데?” 압축해서 메일로 보내기?
            아니, 이건 너무 구시대잖아. <br />구글링만 3시간 했다. 그렇게 알게
            됐다. "GitHub Pages + HTML 파일" 처음 보는 단어들이었지만 게임을
            보여주기 위해서라면 코드라도 씹어먹을 기세였다. 어느새 Canvas보다
            div가 더 익숙해졌고,프레임보단 Flex를 먼저 쓰는 사람이 되어 있었다.
            <br />웹 개발은 나에게 '게임 배포용 도구'였다가, 메인 게임이
            되어버린 놈이다.
          </p>
        </div>
        <div class="story-item">
          <h3>내가 생각하는 프론트엔드</h3>
          <img
            class="story2"
            src="/src/assets/aboutme/jungwoo4.png"
            alt="프론트엔드 이미지"
          />
          <p>
            프론트엔드는 사람에 대한 공부다. 기술도 중요하지만, 결국 "어떻게
            해야 사람들이 이해할까?"라는 질문으로 연결된다. 버튼을 왜 오른쪽에
            둘까? 이 애니메이션은 너무 빠르지 않을까? 글자 크기를 키워야 할까?
            ... 코드를 짜기 전에 나는 늘 사람을 떠올린다. 코드로 사람을 배려하는
            일이 바로 프론트엔드라고 생각한다.
          </p>
        </div>
      </div>
    </div>

    <!-- 네 번째 페이지 (PORTFOLIO) -->
    <div class="page page-4" id="page-4">
      <h2 class="section-title">PORTFOLIO</h2>
      <div class="portfolio-container">
        <a
          class="portfolio-component"
          href="/src/assets/aboutme/lorem.pdf"
          target="_blank"
        >
          <img
            class="portfolio-img"
            src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
            alt="포트폴리오 thumnail 사진"
          />
          <h3 class="portfolio-title">IMWA Project</h3>
        </a>
        <a
          class="portfolio-component"
          href="/src/assets/aboutme/lorem.pdf"
          target="_blank"
        >
          <img
            class="portfolio-img"
            src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
            alt="포트폴리오 thumnail 사진"
          />
          <h3 class="portfolio-title">lorem file</h3>
        </a>
        <a
          class="portfolio-component"
          href="/src/assets/aboutme/lorem.pdf"
          target="_blank"
        >
          <img
            class="portfolio-img"
            src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
            alt="포트폴리오 thumnail 사진"
          />
          <h3 class="portfolio-title">lorem pdf</h3>
        </a>
        <a
          class="portfolio-component"
          href="/src/assets/aboutme/lorem.pdf"
          target="_blank"
        >
          <img
            class="portfolio-img"
            src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
            alt="포트폴리오 thumnail 사진"
          />
          <h3 class="portfolio-title">lorem project</h3>
        </a>
      </div>
    </div>

    <!-- 다섯 번째 페이지 (FINAL GOAL) -->
    <div class="page page-5" id="page-5">
      <h2 class="section-title">최종 목표</h2>
      <h3 class="final-goal">내가 만들어가는 미래</h3>
      <p class="goal-description">
        ‘만든다’와 ‘전달한다’ 사이에는 큰 차이가 있다. <br />웹사이트를 그냥
        ‘만드는 것’이 아닌, 감정을 울리는 사이트를 개발하는 것이 목표이다.<br />
        사람의 마음에 남는 웹, 기억되는 경험을 만드는 개발자가 되고 싶다.
      </p>
    </div>

    <!-- 여섯 번째 페이지 (CONTACT) -->
    <div class="page page-6" id="page-6">
      <h2 class="section-title">CONTACT</h2>
      <div class="contact-container">
        <img
          src="/src/assets/aboutme/jungwoo2.svg"
          alt="프로필 이미지"
          class="contact-img"
        />
        <p>연락처 : 010-2470-59xx</p>
        <p>이메일 : pjw1346xxxx@naver.com</p>
        <div class="contact-buttons">
          <a href="#" class="contact-btn">개발안 살펴보기</a>
          <a href="https://github.com/jungwoo0601" class="contact-btn"
            >Github 바로가기</a
          >
        </div>
      </div>
    </div>

    <footer>
      <nav class="footer-nav">
        <a href="#" class="footer-item">
          <img src="/src/assets/home_logo.svg" alt="home" />
          <span>HOME</span>
        </a>
        <a href="#" class="footer-item">
          <img src="/src/assets/aboutme_logo.svg" alt="aboutme" />
          <span>ABOUT ME</span>
        </a>
        <a href="#" class="footer-item">
          <img src="/src/assets/references_logo.svg" alt="references" />
          <span>REFERENCES</span>
        </a>
        <a href="#" class="footer-item">
          <img src="/src/assets/gallery_logo.svg" alt="gallery" />
          <span>GALLERY</span>
        </a>
      </nav>

      <div class="footer-container">
        <p>
          본 페이지는 상업적 목적이 아닌 개인 포트폴리오용으로 제작되었습니다.
          <br />
          © 2025 IMWA. All Rights Reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
